.header {
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	align-content: space-evenly;
}
.divLogo,
.nav {
	display: flex;
	align-items: center;
	align-content: space-between;
	min-width: 300px;
}
.nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0px;
}
.nav ul li {
	margin: auto;
}
