.locationPage {
	min-height: 75vh;
}

#carouselPapa {
	position: relative;
	display: flex;
	width: 100%;
	overflow: hidden;
	height: 500px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	object-fit: contain;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

.pictureCount {
	position: absolute;
	bottom: 5%;
	left: 50%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 142.6%;
	color: white;
}
.carouselImgDiv {
	display: flex;
	width: 100%;
	min-width: 100%;
	transition: transform 1s ease-in-out;
	flex-wrap: nowrap;
}
.carouselImg {
	object-fit: cover;
	object-position: center;
	width: 100%;
	min-width: 100%;
	height: auto;
	border-radius: 25px;
	mix-blend-mode: darken;
}

.arrows {
	height: 100%;
}
.arrowLeft,
.arrowRight {
	display: flex;
	align-items: center;
	margin: 0px;
	color: white;
	justify-content: center;
	font-size: 100px;
	height: 100%;
	width: 10%;
}
.arrowLeft,
.arrowRight :hover {
	cursor: pointer;
}
.arrowLeft {
	position: absolute;
	left: 0%;
}
.arrowRight {
	position: absolute;
	right: 0%;
}

.locationDetailsDiv {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nameTagDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	height: fit-content;
}
.descriptionAndEquipmentDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.collapseDescription,
.collapseEquipements {
	width: 45%;
}
.collapseDescription h2,
.collapseEquipements h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 142.6%;
}
.collapseDescription button,
.collapseEquipements button {
	background-color: #ff6060;
	border-radius: 5px;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
}

.collapseDescription p,
.collapseEquipements p {
	color: #ff6060;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 142.6%;
	padding: 15px;
}

.locationAuthorNamePic {
	display: flex;
	width: 100%;

	flex-direction: row;
	justify-content: flex-end;
	height: fit-content;
}
.locationAuthorPic {
	border-radius: 50%;
	height: 64px;
	align-items: center;
	width: 25%;
	height: auto;
}
.locationAuthorNameTitle {
	display: flex;
	word-wrap: break-word;
	white-space: pre;
	color: #ff6060;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 142.6%;
	width: 25%;
	margin: 0px;
	text-align: end;
	align-items: center;
	height: 100%;
}
.locationNameTitle {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 142.6%;
	color: #ff6060;
	margin: 0px;
}
.locationLocationTitle {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 142.6%;
	color: #ff6060;
	margin: 0px;
	margin-bottom: 20px;
}
.authorRatingDiv {
	width: 30%;
	min-width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}
.tagsDivParent {
	display: flex;
	flex-direction: row;
	width: fit-content;
	align-items: stretch;
	justify-content: space-between;
	height: fit-content;
	min-height: 40px;
}
.tagDiv {
	display: flex;
	align-items: center;
	text-align: center;
	background: #ff6060;
	border-radius: 10px;
	min-height: 100%;
	margin-right: 10px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.tagDiv p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	margin: 0px;
}

.ratingsDiv {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}
.RedStar {
	color: #ff6060;
}
.GreyStar {
	color: #e3e3e3;
}
.fa-star-sharp {
	width: 30px;
	height: 30px;
}

@media screen and (max-width: 720px) {
	.locationPage {
		min-height: 0vh;
	}

	#carouselPapa {
		height: 255px;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
	}
	.pictureCount {
		display: none;
	}

	.carouselImg {
		border-radius: 10px;
	}

	.arrowLeft,
	.arrowRight {
		font-size: 30px;
	}

	.descriptionAndEquipmentDiv,
	.nameTagDiv {
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: fit-content;
	}
	.authorRatingDiv {
		flex-direction: row-reverse;
		width: 100%;
		justify-content: space-between;
	}
	.locationAuthorNamePic {
		min-width: 45%;
		width: 50%;
		align-items: center;
		justify-content: space-between;
	}

	.locationAuthorNameTitle {
		width: 45%;
		margin: 0px;
		text-align: end;
	}
	.locationAuthorPic {
		width: 45%;
		height: auto;
	}
	.ratingsDiv {
		width: 50%;
		justify-content: flex-start;
	}

	.collapseDescription,
	.collapseEquipements {
		width: 100%;
	}
	.collapseDescription h2,
	.collapseEquipements h2 {
		font-size: 13px;
	}

	.collapseDescription p,
	.collapseEquipements p {
		font-size: 12px;
	}

	.locationNameTitle {
		font-size: 18px;
	}
	.locationLocationTitle {
		font-size: 14px;
	}

	.tagDiv p {
		font-size: 10px;
	}
}
