html,
#root,
.app,
body {
	height: fit-content;
	margin: 0px;
	padding: 0px;
	width: 100%;
	max-width: 1400px;
	margin: auto;
	box-sizing: border-box;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media screen and (max-width: 720px) {
	html,
	#root,
	.app,
	body {
		width: 98%;
	}
}
